<ul class="tree">
    <li>
        <details open>
            <summary>
                <%= @root.text %>
            </summary>
            <ul>
                <% @root.concepts.each do |concept| %>
                <li>
                    <details open>
                        <summary>
                            <%= link_to concept.text, concept_path(concept.id) %>
                        </summary>
                        <ul>
                            <% concept.linking_concepts.each do |lc| %>
                            <li>
                                <%= link_to lc.text, concept_path(lc.id) %>
                            </li>
                            <% end %>
                        </ul>
                    </details>
                </li>
                <% end %>
            </ul>

        </details>
    </li>
</ul>
