<div class="container concepts">
    <%= render 'concepts/form_search' %>
    <h2><%= pluralize(@concepts.count, 'concepts') %></h2>
    <ul class="tree">
        <% @current_user.concepts.each do |concept| %>
        <li>
            <details>
                <summary>
                    <%= link_to concept.text, concept_path(concept.id) %>
                </summary>
                <ul>
                    <% concept.linking_concepts.each do |lc| %>
                    <li>
                        <%= link_to lc.text, concept_path(lc.id) %>
                    </li>
                    <% end %>
                </ul>
            </details>
        </li>
        <% end %>
    </ul>

</div>


