/* ---------------Root -------------------------------------- */
:root {
    --main-text-color: #2f1706;
    --standard-font-size: 18px;
    --standard-border-color: #f7b62b;
    --standard-border-radius: 5px;
    --standard-background-color: #cbcbcb;
    --pale-color: #f7b62b;
    --blue-color: #278eec;
}

/* ---------------General styling ---------------------------- */
* {
    color: var(--main-text-color);
    font-size: var(--standard-font-size);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

a {
    text-decoration: none;
    display: block;
}

a:hover {
    color: var(--blue-color);
}

input {
    padding: 10px;
    border-radius: var(--standard-border-radius);
    border: 1px solid var(--standard-border-color);
}


/* ---------------Layout ------------------------------------- */
body {
    background-color: var(--standard-background-color);
}

/* ---------------Style header and nav ----------------------- */
.header-wrap {
    background-color: var(--pale-color);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.logo {
    max-width: 120px;
    width: 10vw;
    margin-left: 1rem;
    display: block;
}

nav {
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

nav > * {
    padding-right: 2rem;
    color: var(--main-text-color);
}

.dropdown ul li a {
    font-size: 1.2rem;
}

/* -------------Styling login ------------------------------ */
.guest {
    padding-top: 2rem;
    text-align: center;
    width: 100%;
}

.guest h1 {
    font-size: 5vw;
    font-weight: bolder;
    color: #CC5C28;
}

.login, .signup {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--standard-border-color);
    border-radius: var(--standard-border-radius);
    background-color: white;
    margin-left: 50%;
    transform: translateX(-50%);
}

.error {
    color: red;
    margin-top: 1rem;
}

.login input, .signup input {
    width: 95%;
    margin: 1rem;
}

.login input[type="submit"] {
    background-color: var(--blue-color) ;
    border: none;
    color: white;
    font-weight: bolder;
}
/* -------------------------Styling signup-------------------- */
/* Share some common styles for inputs with login page, refer to "styling login"--*/
.btn-signup {
    background-color: var(--pale-color);
    border: none;
    color: white;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.signup h2 {
    font-weight: bolder;
    margin-top: 2rem;
}

.signup a {
    margin-bottom: 2rem;
}

/* -----------------------Style tree view --------------------------- */
.tree {
    --spacing : 4rem;
    --radius  : 12px;
    display: flex;
    flex-flow: row wrap;
  }

  .tree li {
    display      : block;
    position     : relative;
    padding-left : calc(2 * var(--spacing) - var(--radius) - 5px);
    padding-top: 10px;
    margin-left: 1rem;
  }

  .tree ul {
    margin-left  : calc(var(--radius) - var(--spacing));
    padding-left : 0;
  }

  .tree ul li{
    border-left : 2px solid #ddd;
  }

  .tree ul li:last-child{
    border-color : transparent;
  }

  .tree ul li::before{
    content      : '';
    display      : block;
    position     : absolute;
    top          : calc(var(--spacing) / -2);
    left         : -2px;
    width        : calc(var(--spacing) + 2px);
    height       : calc(var(--spacing) + 1px);
    border       : solid #ddd;
    border-width : 0 0 2px 2px;
  }

  .tree summary{
    display : block;
    cursor  : pointer;
  }

  .tree summary::marker,
  .tree summary::-webkit-details-marker{
    display : none;
  }

  .tree summary:focus {
    outline : none;
  }

  .tree summary:focus-visible{
    outline : 1px dotted #000;
  }

  .tree li::after,
  .tree summary::before{
    content       : '';
    display       : block;
    position      : absolute;
    top           : calc(var(--spacing) / 2 - var(--radius));
    left          : calc(var(--spacing) - var(--radius) - 1px);
    width         : calc(2 * var(--radius));
    height        : calc(2 * var(--radius));
    border-radius : 50%;
    background    : #ddd;
  }

  .tree summary::before{
    content     : '+';
    z-index     : 1;
    background  : var(--pale-color);
    color       : #fff;
    line-height : calc(2 * var(--radius) - 2px);
    text-align  : center;
  }

  .tree details[open] > summary::before{
    content : '−';
  }

  /* --------------------------Styling roots page '/roots------------------- */

.roots {
    color: var(--main-text-color);
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.roots form {
    border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: center;
}

.roots a {
    color: var(--main-text-color);
}

.roots a:hover {
    color: var(--blue-color);
}

.roots input[type="text"] {
    height: 60px;
    width: 60%;
    /* min-width: 300px; */
}

.roots input[type="submit"] {
    background-color: var(--pale-color);
    width: 10rem;
    color: white;
    margin-left: 1rem;
    border: none;
}

.roots input[value="Search"] {
    background-color: var(--blue-color);
}


.roots h2, p {
    text-align: center;
}

.roots h2, span {
    font-weight: bolder;
}
