/* ---------------General styling ---------------------------- */
* {
    /* border: 1px solid red */
}

html {
    font-size: 10px;
}

body {
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    display: block;
}

/* ---------------Layout ------------------------------------- */
body {
    border: 1px solid red;
}

.wrap {
    border: 1px solid red;
}

/* ---------------Style header and nav ----------------------- */
.header {
    /* border: 2.5px solid #ca8736; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #cbcbcb;
    padding: 1rem 0;
}

.logo {
    max-width: 100px;
    width: 10vw;
    margin-left: 1rem;
    display: block;
}

nav {
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

nav > * {
    padding-right: 2rem;
    color: #060504;
}

